
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
    background: rgb(217,217,217);
background: linear-gradient(180deg, rgba(217,217,217,1) 23%, rgba(218,218,218,1) 36%, rgba(226,226,226,1) 56%, rgba(238,238,238,1) 71%, rgba(244,244,244,1) 78%, rgba(255,255,255,1) 95%);
background-repeat: no-repeat;
    background-attachment: fixed;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear{
    clear: both;
}
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: rgb(76,206,207);
    background: rgb(76,206,207);
    background: rgb(76,206,207);
    background: rgb(76,206,207);
    background: linear-gradient(90deg, rgb(76, 206, 207) 0%, rgb(62, 170, 173) 23%, rgb(37, 106, 114) 40%, rgb(31, 91, 101) 49%, rgb(21, 66, 77) 66%, rgb(15, 51, 64) 80%, rgb(9, 36, 50) 90%);
    padding: 28px 0px;
}
#header .logo {
    width: 15.65%;
    float: left;
}
#header .logo img {
    width: 100%;
}
#header .menu {
    padding: 25px 0px;
}
#header .menu ul{
    text-align: right;
}
#header .menu ul li{
    display: inline;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
#header .menu ul a{
    text-decoration: none;
}

#conteudo{margin-top: 30px;}

#conteudo .mostraItem {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.5);
}

#conteudo .imagem {
    width: 13.33%;
    float: left;
}

#conteudo .mascaraImagem {
    background-color: #aaa;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
}
  
#conteudo .mascaraImagem img {
    position: absolute;
    bottom: 0px;
    text-align: center;
    max-width: 195px;
    right: -30px;
}

#conteudo .informacoes {
    float: left;
    width: 86.67%;
    padding: 30px 0px;
}

#conteudo .informacoes p{
    color: #707070;
    margin-bottom: 20px;
    font-weight: 300;
}

#conteudo .informacoes strong{
    color: #092432;
    font-weight: 700;
}


#conteudo .item:nth-of-type(3n) {
    margin-right: 0;
}
#conteudo .item {
    width: 28%;
    padding: 2%;
    float: left;
    background: #fff;
    margin-right: 2%;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.5);
    position: relative;
}
#conteudo .item.ativo{
    background: #002b50;
    color: #FFF;

}
#conteudo .item .mascaraImagem{
    float: left;
}
#conteudo .item .idade{
    display: none;
}

#conteudo .numeroId {
    position: absolute;
}


#conteudo .item .todaImagem {
    width: 30%;
    float: left;
}
#conteudo .item .texto {
    width: 60%;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    line-height: 25px;
}
#conteudo .item .texto .nome{
    font-weight: 700;
}
#conteudo .item .texto .cargo{
    font-weight: 300;
}
#conteudo .item .numeroId {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #4dd2d2;
    border-radius: 50%;
    top: 0;
    left: 130px;
    margin-top: 39px;
    text-align: center;
    padding: 7px;
    color: #092331;
    font-weight: 700;
}

/*=====================RESPONSIVO============================*/


@media screen and (max-width: 1376px) {
    .container {
        max-width: 96%;
    }

}